/* style.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #f1f8f6, #c9e7d7);
}

/*Comment*/
.game-container {
  text-align: center;
}

#player-names {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-gap: 5px;
  margin: 20px auto;
}

.cell {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e0e0e0;
  cursor: pointer;
}

.cell.red {
  background-color: red;
}

.cell.yellow {
  background-color: #f4e05d; /* Light yellow */
}

#restart-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

#turn-message {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
